<%= render "shared/bandeau_new",
 titre: "Etablissements",
 texte: "Module d'administration de l'ensemble des établissements de la région.",
 path: new_etablissement_path%>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @etablissements.each do |etablissement| %>
        <tr>
          <td><%= link_to etablissement.nom, etablissement %></td>
          <td><%= edit edit_etablissement_path(etablissement) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
