<%= render "shared/bandeau", titre: "Etablissement", texte: "Liste des informations associées." %>
<div class="container">
  <p>
    <strong>Nom:</strong>
    <%= @etablissement.nom %>
  </p>
  <%= back etablissements_path %>
  <%= edit edit_etablissement_path(@etablissement) %>
</div>
