<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @etablissement.nom %>
</p>

<%= link_to 'Edit', edit_etablissement_path(@etablissement) %> |
<%= link_to 'Back', etablissements_path %>
